app-operate-filter-template-dialog .md-body-2 {
  line-height: 30px;
}

.filter-template-radio-select {
  min-width: 400px;
  padding: 10px;
}

.filter-template-radio-select md-divider {
  margin: 15px 0;
}

.filter-template-radio-select md-switch {
  margin: 0;
}

.filter-template-detail {
  padding: 10px;
  min-width: 500px;
}

.filter-template-detail md-list {
  padding: 0;
}

.filter-template-detail md-list-item {
  min-height: 36px;
  color: #666;
}
.filter-template-detail md-list-item:before {
  min-height: 36px;
}

.filter-template-detail md-divider {
  margin: 15px 0 7px 0;
}
