<md-toolbar
  layout="row"
  layout-align="start center"
  class="md-accent md-hue-1 md-whiteframe-3dp">
  <div>Feature Name</div>
  <md-menu class="app-toolbar-account-menu">
    <md-button aria-label="Open account menu" class="md-icon-button" ng-click="$ctrl.openMenu($mdMenu, $event)">
      <md-icon md-svg-icon="social:person"></md-icon>
    </md-button>
    <md-menu-content width="4">
      <md-menu-item>
        <md-button disabled style="color: rgba(0,0,0,0.55);">Logged in as: {{::$ctrl.currentUser}}</md-button>
      </md-menu-item>
      <md-menu-divider></md-menu-divider>
      <md-menu-item>
        <md-button ui-sref="base.userSetting">
          <md-icon md-svg-icon="hardware:security"></md-icon>
          User setting
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ng-click="$ctrl.logout($event)">
          <md-icon md-svg-icon="action:exit_to_app"></md-icon>
          Logout
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</md-toolbar>
