.md-sidenav-right.hmt-tree-view {
  width: 480px;
  max-width: 480px;
}

.hmt-tree-view .node-list {
  padding: 0;
}

.hmt-tree-view .node-list-item {
  height: 50px;
  min-height: auto;
  color: #222;
  font-size: 15px;
}
.hmt-tree-view .node-icon {
  margin: 13px 13px 0 0 !important;
}

.hmt-tree-view .server-list-item {
  height: auto;
  min-height: auto;
  color: #222;
  font-size: 14px;
}

.hmt-tree-view .server-list-item > div {
  padding-left: 45px !important;
}

.hmt-tree-view .server-icon {
  margin: 0 5px 0 0 !important;
  color: #4caf50;
}

.hmt-tree-view .toggle-icon {
  margin: 0 !important;
}

.hmt-tree-view .progress-icon {
  margin: 0 3px 0 4px;
}

.hmt-tree-view .ssd-list {
  padding: 0;
  transition: all .8s ease-in;
}

.hmt-tree-view .ssd-list.open {
  max-height: 1000px;
  opacity: 1;
}

.hmt-tree-view .ssd-list.close {
  max-height: 0;
  opacity: 0;
}

.hmt-tree-view .ssd-list-item {
  color: #000;
  font-size: 13px;
}

.hmt-tree-view .ssd-icon {
  margin: 0 5px 0 0 !important;
  color: #333;
}

.hmt-tree-view .ssd-list-item > div {
  padding-left: 70px !important;
}
