app-monitor-node {
  display: block;
}

.monitor-node-inner {
  padding: 20px;
}

.monitor-node-inner .server-list-item {
  padding-left: 72px;
  color: #555;
}

.monitor-node-inner .server-list-item-icon {
  margin-right: 10px !important;
  color: #4caf50;
}
