/*Angular Material use Roboto for font-family
Using OpenSans as source so we don't need to override Angular Material CSS*/
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/OpenSans-Light.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/OpenSans-Semibold.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/OpenSans-Italic.ttf');
}

app-root {
  height: 100%;
  display: block;
}

.app {
  height: 100%;
}

/*global api-message style*/
.api-messages {
  transition: .5s ease all;
  position: relative;
}

.api-messages.ng-active {
  opacity: 1;
  top: 0;
}
.api-messages.ng-inactive {
  opacity: 0;
  top: 10px;
}

.api-message-error,
.api-message-error .error-icon {
  color: #e53935;
}

.api-message-progress {
  color: #0091ea;
}
.api-message-progress .progress-icon {
  margin-right: 10px;
}

.api-message-success,
.api-message-success .success-icon {
  color: #43a047;
}

/*dialog window common style*/
.hmt-dialog,
.hmt-dialog > * {
  display: flex;
  flex-direction: column;
  overflow: auto;
}


/*override angular-loading-bar default color*/
#loading-bar .bar {
  background: #0091ea;
}
#loading-bar .peg {
  -moz-box-shadow: #0091ea 1px 0 6px 1px;
  -ms-box-shadow: #0091ea 1px 0 6px 1px;
  -webkit-box-shadow: #0091ea 1px 0 6px 1px;
  box-shadow: #0091ea 1px 0 6px 1px;
}
#loading-bar-spinner .spinner-icon {
  border-top-color:  #0091ea;
  border-left-color: #0091ea;
}
