@font-face {
    font-family: 'Roboto';
    src: url('../fonts/OpenSans-Regular.ttf');
}

app-root {
  height: 100%;
  display: block;
}

.app {
  height: 100%;
}


/*override angular-loading-bar default color*/
#loading-bar .bar {
  background: #0091ea;
}
#loading-bar .peg {
  -moz-box-shadow: #0091ea 1px 0 6px 1px;
  -ms-box-shadow: #0091ea 1px 0 6px 1px;
  -webkit-box-shadow: #0091ea 1px 0 6px 1px;
  box-shadow: #0091ea 1px 0 6px 1px;
}
#loading-bar-spinner .spinner-icon {
  border-top-color:  #0091ea;
  border-left-color: #0091ea;
}
